<app-header-components title="Dialog">
    <ng-template #component>
        <div class="column gap-3">
            <div class="column align-items-center justify-content-start ">
                <p class="full-width mat-caption color-text-secondary pb-3">
                    Accordion | Expanded | Disabled</p>
                <div class="full-width row align-items-center justify-content-center">
                    <button mat-stroked-button color="primary" size="medium" (click)="openDialog()">Open dialog</button>
                </div>
            </div>
        </div>
    </ng-template>
</app-header-components>