<app-header-components title="Textfield">
    <ng-template #component>
        <div class="row gap-3 justify-content-between">

            <div class="row align-items-center justify-content-start">
                <p class="row mat-caption color-text-secondary pb-3">
                    mat-form-field | Variant: Standard | Filled | Outline | Size: Large | Medium | Small </p>

                <div class="col-12 row align-items-center justify-content-between">

                    <mat-form-field class="col " size="medium">
                        <mat-label>Disabled</mat-label>
                        <input matInput>
                        <mat-icon matSuffix>visibility</mat-icon>
                    </mat-form-field>

                    <mat-form-field class="col " size="medium" appearance="outline">
                        <mat-label>Enabled</mat-label>
                        <input matInput>
                        <mat-icon matSuffix>visibility</mat-icon>
                    </mat-form-field>
                </div>

            </div>
        </div>
    </ng-template>
</app-header-components>