// Pallete colors
$pallete-primary-color: #1e62a1;

// 
$with-content: 873px;
.model-component {
    width: 100%;

    &__header {
        width: $with-content;
        border-radius: 4px;
        background-color: #F5f5f6;
    }

    &__content {
        width: $with-content;
    }

    .button-enlace{
        color: #1e62a1 !important;
    }

}