<app-header-components title="Chip">
  <ng-template #component>
    <div class="column gap-3">
      <div class="column align-items-center justify-content-start ">
        <p class="full-width mat-caption color-text-secondary pb-3">mat-chip | Size: Large | Medium | Small</p>
        <div class="full-width row align-items-center justify-content-between">
          @for(chip of Chips; track chip){
          <mat-chip removable highlighted [color]="chip.color"> Chip
            <button matChipRemove>
              <mat-icon [color]="chip.color">cancel</mat-icon>
            </button>
          </mat-chip>
          }
        </div>
      </div>
    </div>
  </ng-template>
</app-header-components>