<div class="d-flex gap-3 justify-content-between">

    <div class="d-flex align-items-center justify-content-start">
        <p class="mat-caption color-text-secondary pb-3">matAutocomplete | Simple</p>
        <form class="autocomplete-container">
            <mat-form-field class="autocomplete" size="small" appearance="outline" >
                <mat-label>Value</mat-label>
                <input type="text" placeholder="Value"  aria-label="Number"  matInput formControl="myControl"
                    [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    @for (option of options; track option) {
                    <mat-option [value]="option">{{option}}</mat-option>
                    }
                </mat-autocomplete>
            </mat-form-field>
        </form>
    </div>

    <div class="d-flex align-items-center">
        <p class="mat-caption color-text-secondary pb-3">matAutocomplete | Multiple value</p>
        <form class="autocomplete-container">
            <mat-form-field class="autocomplete" size="small" appearance="outline">
                <mat-label>Value</mat-label>
                <input type="text" placeholder="Value" aria-label="Number" matInput formControl="myControl"
                    [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    @for (option of options; track option) {
                    <mat-option [value]="option">{{option}}</mat-option>
                    }
                </mat-autocomplete>
            </mat-form-field>
        </form>
    </div>

</div>