<div class="column gap-4">
    <div class="column align-items-center justify-content-start ">
        <p class="full-width mat-caption color-text-secondary pb-3">mat-badge | Size: Large | Medium | Small</p>
        <div class="col-12 row align-items-center justify-content-between">
            <span  *ngFor="let badge of colores" matBadge="1" aria-hidden="false" class="col" size="small"
                [colorComponent]="badge.color"></span>
        </div>
    </div>
    <div class="column align-items-center justify-content-start ">
        <p class="full-width mat-caption color-text-secondary pb-3">mat-badge without text | Size: Large | Medium | Small</p>
        <div class="col-12 row align-items-center justify-content-between">
            <span  *ngFor="let badge of colores" matBadge="&#8288;" aria-hidden="false"  class="col" size="small" [matBadgeColor]="badge.color"
                [colorComponent]="badge.color"></span>
        </div>
    </div>
    <div class="column align-items-center justify-content-start ">
        <p class="full-width mat-caption color-text-secondary pb-3">mat-badge with icon | Size: Large | Medium | Small</p>
        <div class="col-12 row align-items-center justify-content-between">
                <mat-icon *ngFor="let badge of colores" class="color-action-active" aria-hidden="false" matBadge="1" 
                    [colorComponent]="badge.color">mail_outline</mat-icon>
        </div>
    </div>
</div>

<!-- matBadgeOverlap="false" || evitar el sobreposicionamiento sobre el componente padre -->