<div class="column gap-3">
    <div class="column align-items-center justify-content-start ">
        <p class="full-width mat-caption color-text-secondary pb-3">mat-button-group | Size: Large | Medium | Small</p>
        <div class="col-12 row align-items-center justify-content-between">
            <mat-button-toggle-group colorComponent="success" name="fontStyle" aria-label="Font Style">
                <mat-button-toggle value="bold">Bold</mat-button-toggle>
                <mat-button-toggle value="italic">Italic</mat-button-toggle>
                <mat-button-toggle value="underline">Underline</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </div>
</div>