<app-header-components title="Tab">
    <ng-template #component>
        <div class="column gap-3">
            <div class="column align-items-center justify-content-start ">
                <p class="full-width mat-caption color-text-secondary pb-3">mat-raised-button | Size: Large | Medium |
                    Small</p>
                <div class="full-width column align-items-center justify-content-between">
                    <mat-tab-group class="full-width">
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <div class="row align-items-center justify-content-center">
                                    <mat-icon size="medium">star</mat-icon>
                                    Tab
                                </div>
                            </ng-template>
                        </mat-tab>

                        <mat-tab>
                            <ng-template mat-tab-label>
                                <div class="row align-items-center justify-content-center">
                                    <mat-icon size="medium">star</mat-icon>
                                    Tab
                                </div>
                            </ng-template>
                        </mat-tab>

                        <mat-tab>
                            <ng-template mat-tab-label>
                                <div class="row align-items-center justify-content-center">
                                    <mat-icon size="medium">star</mat-icon>
                                    Tab
                                </div>
                            </ng-template>
                        </mat-tab>
                    </mat-tab-group>

                </div>
            </div>
        </div>
    </ng-template>
</app-header-components>