<div class="container-components align-items-center justify-content-center pb-4">
    <div class="row align-items-center justify-content-center ">

        <app-autocomplete />
        <app-button />
        <app-icon-button />
        <app-fab />
        <app-checkbox />
        <app-radio />
        <app-rating-example />
        <app-select />
        <app-slider />
        <app-switch-form-control />
        <app-switch />
        <app-badge />
        <app-textfield />
        <app-toggle-button />
        <app-avatar />
        <app-chip-example />
        <app-icon />
        <app-list />
        <app-tooltip />
        <app-alert />
        <app-progress-xd />
        <app-progress-erp />
        <app-table />
        <app-accordion />
        <app-card />
        <app-menu />
        <app-paginator />
        <app-stepper />
        <app-dialog />
        <app-tab />
        <app-empty-example />
        <app-toast-example />
        <app-snackbar />
        <app-footer-action-example />
        <app-page-header-example />

    </div>
</div>