<app-header-page />
<div class="container-components align-items-center justify-content-center">

    <div class="row align-items-center justify-content-center">

        <app-model-components title="Autocomplete">
            <ng-template #component>
                <app-autocomplete />
            </ng-template>
        </app-model-components>

        <app-model-components title="Button">
            <ng-template #component>
                <app-button />
            </ng-template>
        </app-model-components>

        <app-model-components title="Icon button">
            <ng-template #component>
                <app-icon-button />
            </ng-template>
        </app-model-components>

        <app-model-components title="Floating Action Button">
            <ng-template #component>
                <app-fab />
            </ng-template>
        </app-model-components>

        <app-model-components title="Checkbox">
            <ng-template #component>
                <app-checkbox />
            </ng-template>
        </app-model-components>

        <app-model-components title="Radio - Radio Group">
            <ng-template #component>
                <app-radio />
            </ng-template>
        </app-model-components>

        <app-model-components title="Rating">
            <ng-template #component>
                <app-rating-example />
            </ng-template>
        </app-model-components>

        <app-model-components title="Select">
            <ng-template #component>
                <app-select />
            </ng-template>
        </app-model-components>

        <app-model-components title="Slider">
            <ng-template #component>
                <app-slider />
            </ng-template>
        </app-model-components>

        <app-model-components title="SwitchFormControl">
            <ng-template #component>
                <app-switch-form-control />
            </ng-template>
        </app-model-components>

        <app-model-components title="Switch">
            <ng-template #component>
                <app-switch />
            </ng-template>
        </app-model-components>

        <app-model-components title="Badge">
            <ng-template #component>
                <app-badge />
            </ng-template>
        </app-model-components>

        <app-model-components title="Textfield">
            <ng-template #component>
                <app-textfield />
            </ng-template>
        </app-model-components>

        <app-model-components title="Avatar">
            <ng-template #component>
                <app-avatar />
            </ng-template>
        </app-model-components>

        <app-model-components title="Chip">
            <ng-template #component>
                <app-chip-example />
            </ng-template>
        </app-model-components>

        <app-model-components title="List">
            <ng-template #component>
                <app-list />
            </ng-template>
        </app-model-components>

        <app-model-components title="Tooltip">
            <ng-template #component>
                <app-tooltip />
            </ng-template>
        </app-model-components>

        <app-model-components title="Alert">
            <ng-template #component>
                <app-alert />
            </ng-template>
        </app-model-components>

        <app-model-components title="Progress">
            <ng-template #component>
                <app-alert />
            </ng-template>
        </app-model-components>

        <app-model-components title="Table">
            <ng-template #component>
                <app-table />
            </ng-template>
        </app-model-components>

        <app-model-components title="Card">
            <ng-template #component>
                <app-card />
            </ng-template>
        </app-model-components>

        <app-model-components title="Menu">
            <ng-template #component>
                <app-menu />
            </ng-template>
        </app-model-components>

        <app-model-components title="Pagination">
            <ng-template #component>
                <app-paginator />
            </ng-template>
        </app-model-components>

        <app-model-components title="Stepper">
            <ng-template #component>
                <app-stepper />
            </ng-template>
        </app-model-components>

        <app-model-components title="Dialog">
            <ng-template #component>
                <app-dialog />
            </ng-template>
        </app-model-components>

        <app-model-components title="Tab">
            <ng-template #component>
                <app-tab />
            </ng-template>
        </app-model-components>

        <app-model-components title="Empty state">
            <ng-template #component>
                <app-empty-state />
            </ng-template>
        </app-model-components>

        <app-model-components title="Toast Notification">
            <ng-template #component>
                <app-toast-notification />
            </ng-template>
        </app-model-components>

        <app-model-components title="Page Header">
            <ng-template #component>
                <app-toast-notification />
            </ng-template>
        </app-model-components>

    </div>
</div>