<div class="container-components align-items-center justify-content-center pb-4">
    <div class="row align-items-center justify-content-center">
        <app-autocomplete></app-autocomplete>
        <app-button></app-button>
        <app-icon-button></app-icon-button>
        <app-fab></app-fab>
        <app-checkbox></app-checkbox>
        <app-radio></app-radio>
        <app-select></app-select>
        <app-slider></app-slider>
        <app-switch-form-control></app-switch-form-control>
        <app-switch></app-switch>
        <app-badge></app-badge>
        <app-textfield></app-textfield>
        <app-toggle-button></app-toggle-button>
        <!-- <app-avatar></app-avatar> COMPONENTE EN DESARROLLO -->
        <app-chip-example></app-chip-example>
        <app-icon></app-icon>
        <app-list></app-list>
        <app-tooltip></app-tooltip>
        <app-alert></app-alert>
        <app-progress-bar></app-progress-bar>
        <app-progress-erp></app-progress-erp>
        <app-table></app-table>
        <app-accordion></app-accordion>
        <app-card></app-card>
        <app-menu></app-menu>
        <app-paginator></app-paginator>
        <app-stepper></app-stepper>
        <app-dialog></app-dialog>
        <app-tab></app-tab>
        <app-empty-example></app-empty-example>
        <app-toast-example></app-toast-example>
        <app-snackbar></app-snackbar>
        <app-footer-action-example></app-footer-action-example>
        <app-page-header-example></app-page-header-example>
    </div>
</div>
