<div class="column gap-3">
<!-- BUTTON VARIANT RAISED - WITH ICON -->
    <div class="column align-items-center justify-content-start ">
        <p class="full-width mat-caption color-text-secondary pb-3">mat-raised-button | Size: Large | Medium | Small</p>
        <div class="full-width row align-items-center justify-content-between">
            <button mat-raised-button *ngFor="let button of buttonsModel" [color]="button.color" [class]="button.size"
                [disabled]="button.disabled">
                {{ button.label }}
            </button>
        </div>
    </div>

    <div class="column align-items-center justify-content-start ">
        <p class="full-width mat-caption color-text-secondary pb-3">mat-raised-button | Icon | Size: Large | Medium | Small</p>
        <div class="full-width row align-items-center justify-content-between">
            <button mat-raised-button *ngFor="let button of buttonsModel" [color]="button.color" [class]="button.size"
                [disabled]="button.disabled" class="mat-elevation-z0">
                {{ button.label }}
                <mat-icon iconPositionEnd [class]="button.size">arrow_forward</mat-icon>
            </button>
        </div>
    </div>
<!-- BUTTON VARIANT STROKED - WITH ICON -->
    <div class="column align-items-center justify-content-start ">
        <p class="full-width mat-caption color-text-secondary pb-3">mat-stroked-button | Size: Large | Medium | Small</p>
        <div class="full-width row align-items-center justify-content-between">
            <button mat-stroked-button *ngFor="let button of buttonsModel" [color]="button.color" [class]="button.size"
                [disabled]="button.disabled">
                {{ button.label }}
            </button>
        </div>
    </div>

    <div class="column align-items-center justify-content-start ">
        <p class="full-width mat-caption color-text-secondary pb-3">mat-stroked-button | Icon | Size: Large | Medium | Smal</p>
        <div class="full-width row  align-items-center justify-content-between">
            <button mat-stroked-button *ngFor="let button of buttonsModel" [color]="button.color" [class]="button.size"
                [disabled]="button.disabled">
                {{ button.label }}
                <mat-icon iconPositionEnd [class]="button.size">arrow_forward</mat-icon>
            </button>
        </div>
    </div>
<!-- BUTTON VARIANT TEXT - WITH ICON -->
    <div class="column align-items-center justify-content-start ">
        <p class="full-width mat-caption color-text-secondary pb-3">mat-stroked-button | Icon | Size: Large | Medium | Smal</p>
        <div class="full-width row  align-items-center justify-content-between">
            <button mat-button *ngFor="let button of buttonsModel" [color]="button.color" [class]="button.size"
                [disabled]="button.disabled">
                {{ button.label }}
                <mat-icon iconPositionEnd [class]="button.size">arrow_forward</mat-icon>
            </button>
        </div>
    </div>

    <div class="column align-items-center justify-content-start ">
        <p class="full-width mat-caption color-text-secondary pb-3">mat-stroked-button | Icon | Size: Large | Medium | Smal</p>
        <div class="full-width row  align-items-center justify-content-between">
            <button mat-button *ngFor="let button of buttonsModel" [color]="button.color" [class]="button.size"
                [disabled]="button.disabled">
                {{ button.label }}
                <mat-icon iconPositionEnd [class]="button.size">arrow_forward</mat-icon>
            </button>
        </div>
    </div>
</div>