<div class="column align-items-center justify-content-center ">
    <div class="title-components column align-items-center justify-content-center gap-2">

        <div class="title-components__logos-container column align-items-center justify-content-center ">
            <div class="title-components__logo row align-items-center justify-content-center">
                <img src="/assets/images-header/logo-angular.svg">
                <img src="/assets/images-header/logo-figma.svg">
                <img src="/assets/images-header/logo-sinco.svg">
            </div>
    
            <div >
                <img src="/assets/images-header/logo-titulo.svg">
            </div>
        </div>
        
    </div>
</div>