.title-components {
    width: 100%;
    height: auto;
    padding-top: 56px; 

    &__logos-container {
        width: inherit;
    }

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 36px;
    }
}