<div class="column gap-3">
    <div class="column align-items-center justify-content-start">
        <p class="full-width color-text-secondary pb-3">mat-progress-bar</p>
        <div class="full-width gap-2 column align-items-center justify-content-between">
            <mat-spinner></mat-spinner>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
    </div>
    <div class="column align-items-center justify-content-start">
        <p class="full-width color-text-secondary pb-3">mat-progress-spinner</p>
        <div class="full-width gap-2 column align-items-center justify-content-between">
            <mat-spinner></mat-spinner>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
    </div>
</div>