<app-header-components title="Accordion">
    <ng-template #component>
        <div class="progress column align-items-center justify-content-center gap-2">
            <ng-container *ngIf="!showLogo">
                <div class="container-gif"></div>
            </ng-container>

            <ng-container *ngIf="loadingText">
                <div class="row">
                    <p class="mat-body2 color-text-secondary">{{loadingText}}</p>
                </div>
            </ng-container>
            <ng-container *ngIf="variant">
                <div class="progress-bar"
                    [ngClass]="{'determinate': variant === 'determinate', 'indeterminate': variant === 'indeterminate'}">
                    <div class="determinate-bar" [ngStyle]="{'width.%': value}" *ngIf="variant === 'determinate'"></div>
                    <div class="indeterminate-bar" *ngIf="variant === 'indeterminate'"></div>
                </div>
            </ng-container>


            <ng-container *ngIf="progressIndicator">
                <p class="mat-subtitle-2 color-text-secondary">{{progressIndicator}}</p>
            </ng-container>

        </div>
    </ng-template>
</app-header-components>