<div class="column gap-3">
    <div class="column align-items-center justify-content-start ">
        <p class="full-width mat-caption color-text-secondary pb-3">mat-raised-button | Size: Large | Medium | Small</p>
        <div class="full-width row align-items-center justify-content-between">
                <mat-rating  [value]="2.50" [precision]="0.1" [max]="5" size="large"/>
                <mat-rating  [value]="2.50" [precision]="0.1" [max]="5" size="medium"/>
                <mat-rating  [value]="2.50" [precision]="0.1" [max]="5" size="small"/>
        </div>
    </div>
</div>