<div class="column gap-3">
    <div class="column align-items-center justify-content-start ">
        <p class="full-width mat-caption color-text-secondary pb-3">mat-raised-button | Size: Large | Medium | Small</p>
        <div class="full-width row align-items-center justify-content-between">
            <mat-form-field  appearance="outline">
                <select matNativeControl disabled>
                    <option>Disabled</option>
                </select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>mat-form-select</mat-label>
                <select matNativeControl >
                    <option>Outline</option>
                </select>
            </mat-form-field>

            <mat-form-field >
                <mat-label>mat-form-select</mat-label>
                <select matNativeControl >
                    <option>Filled</option>
                </select>
            </mat-form-field>
        </div>
    </div>
</div>