<app-header-components title="EmptyState">
    <ng-template #component>
        <div class="column gap-3">
            <div class="column align-items-center justify-content-start ">
                <p class="full-width mat-caption color-text-secondary pb-3">mat-raised-button | Size: Large | Medium |
                    Small</p>
                <div class="full-width row align-items-center justify-content-center">
                    <app-empty-state [titulo]="'Titulo del empty state'" [contenido]="'Contenido del empty state'"
                        [estado]="'error'"></app-empty-state>
                </div>
            </div>
        </div>
    </ng-template>
</app-header-components>