<div class="column gap-3">
    <!-- FAB BUTTON EXTENDED  -->
    <div class="column align-items-center justify-content-start ">
        <p class="full-width mat-caption color-text-secondary pb-3">mat-fab | Extended | Size: Large | Medium | Small
        </p>
        <div class="full-width row align-items-center justify-content-between">
            <button mat-fab extended *ngFor="let fab of fabButtons" [color]="fab.color" [class]="fab.size"
                [disabled]="fab.disabled">
                <mat-icon [class]="fab.size">add</mat-icon>
                Fab
            </button>
        </div>
    </div>
    <!-- FAB BUTTON ROUND  -->
    <div class="column align-items-center justify-content-start ">
        <p class="full-width mat-caption color-text-secondary pb-3">mat-fab | Round | Size: Large | Medium | Small
        </p>
        <div class="full-width row align-items-center justify-content-between">
            <button mat-fab *ngFor="let fab of fabButtons" [color]="fab.color" [class]="fab.size"
                [disabled]="fab.disabled">
                <mat-icon [class]="fab.size">add</mat-icon>
            </button>
        </div>
    </div>
</div>