<div class="column gap-3">
    <!-- FAB BUTTON EXTENDED  -->
    <div class="column align-items-center justify-content-start ">
        <p class="full-width mat-caption color-text-secondary pb-3">mat-fab | Extended | Size: Large | Medium | Small
        </p>
        <div class="full-width row align-items-center justify-content-between">
            <button mat-fab extended *ngFor="let button of buttons" [color]="button.color" [class]="button.size"
                [disabled]="button.disabled">
                <mat-icon [class]="button.size">add</mat-icon>
                Fab
            </button>
        </div>
    </div>
    <!-- FAB BUTTON ROUND  -->
    <div class="column align-items-center justify-content-start ">
        <p class="full-width mat-caption color-text-secondary pb-3">mat-fab | Round | Size: Large | Medium | Small
        </p>
        <div class="full-width row align-items-center justify-content-between">
            <button mat-fab *ngFor="let button of buttons" [color]="button.color" [class]="button.size"
                [disabled]="button.disabled">
                <mat-icon [class]="button.size">add</mat-icon>
            </button>
        </div>
    </div>
</div>