<app-header-components title="Icon">
    <ng-template #component>
        <div class="column gap-3">
            <div class="column align-items-center justify-content-start ">
                <p class="full-width mat-caption color-text-secondary pb-3">
                    mat-icon | Size: Large | Medium | Small | Inherit </p>
                <div class="col-12 row align-items-center justify-content-between">
                    <mat-icon aria-hidden="false" *ngFor="let icon of icons" [class]="icon.size"
                        class="col color-action-active">star</mat-icon>
                </div>
            </div>
        </div>
    </ng-template>
</app-header-components>