<div class="column gap-3">
    <div class="column align-items-center justify-content-start ">
        <p class="full-width mat-caption color-text-secondary pb-3">
            mat-icon | Size: Large | Medium | Small | Inherit </p>
        <div class="col-12 row align-items-center justify-content-between">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    This is the expansion title
                </mat-expansion-panel-header>

                <ng-template matExpansionPanelContent>
                    Some deferred content
                </ng-template>
            </mat-expansion-panel>

        </div>
    </div>
</div>