<div class="page-header column nowrap gap-1 px-6 pt-2 bg-white mat-elevation-z1">
    <div class="row justify-content-between align-items-center gap-1">
        <div *ngIf="titleSection">
            <ng-container *ngTemplateOutlet="titleSection"></ng-container>
        </div>
        <div *ngIf="actionsSection" class="row gap-1 justify-content-end align-items-center"
            [class.col]="!titleSection">
            <ng-container *ngTemplateOutlet="actionsSection"></ng-container>
        </div>
    </div>
</div>