<div class="column align-items-center justify-content-start">
    <p class="full-width color-text-secondary pb-3 mat-caption">
        Avatar | Content: Text | Icon | Image | Variant: Circular | Rounded | Square | Size: 40px | 32px | 24px </p>
    <div class="col-12 row align-items-center justify-content-between">
        <div class="col">
            <!-- <app-avatar size="size-20" type="icon" [iconName]="'person'"></app-avatar>
            <app-avatar size="size-24" type="text" initials="JD"></app-avatar>
            <app-avatar size="size-16" type="image" imageUrl="https://ejemplo.com/avatar.jpg"></app-avatar> -->

        </div>
    </div>
</div>