<div class="column gap-3">
    <div class="column align-items-center justify-content-start ">
        <p class="full-width mat-caption color-text-secondary pb-3">
            Accordion | Expanded | Disabled</p>
        <div class="full-width row align-items-center justify-content-center">

            <button mat-stroked-button color="primary" size="medium" >Toggle modal</button>
            <button mat-stroked-button color="primary" size="medium" >Toggle modal</button>
            <button mat-stroked-button color="primary" size="medium" >Toggle modal</button>
            <button mat-stroked-button color="primary" size="medium" >Toggle modal</button>

        </div>
    </div>
</div>
<!-- (click)="openDialog()" -->
<!-- (click)="openDialog()"
(click)="openDialog()"
(click)="openDialog()" -->