@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

html{
    font-size: 0.625rem;
    height: 100%;
}
body{
    min-height: 100vh;
}
*{
    margin: 0;
    line-height:normal;
    box-sizing: border-box;
}

.mat-headline-5,
.mat-h1,
h1,
.mat-headline-6,
.mat-h2,
h2,
.mat-subtitle-1,
.mat-h3,
h3,
.mat-h4,
h4,
.mat-body-1,
p,
.mat-body-2,
.mat-h5,
h5,
.mat-h6,
h6 {
  margin: 0 !important;
}