@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500|Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round');

// Material icons styles

.mat-icon-outlined,
.mat-icon-two-tone {
  font-weight: normal;
  font-style: normal;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-icon-outlined {
  font-family: 'Material Icons Outlined' !important;
}

.mat-icon-two-tone {
  font-family: 'Material Icons Two Tone' !important;
  filter: invert(0.5) sepia(1) saturate(60) hue-rotate(180deg);
}

mat-icon {
  font-family: 'Material Icons Round' !important;
}

//size icons Angular Material

@mixin icon-size($size: 14px) {
  font-size: $size !important;
  line-height: normal !important;
  height: $size !important;
  width: $size !important;
}

// Buttons icons size

.icon-left {
  margin-right: 0.4rem !important;
}

.icon-right {
  margin-left: 0.4rem !important;
}

.icon-xs {
  @include icon-size;
}

.icon-s {
  @include icon-size($size: 18px);
}

.icon-base {
  @include icon-size($size: 22px);
}

.icon-m {
  @include icon-size($size: 32px);
}

.icon-l {
  @include icon-size($size: 42px);
}

.icon-xl {
  @include icon-size($size: 52px);
}
.icon-xxl {
  @include icon-size($size: 72px);
}
