@import './colors';
@import './variables';
@import './tokens';

// .cdk-overlay-backdrop {
//   background-color: $backgroundOverlay !important;
//   backdrop-filter: blur(2px) !important;
// }

.mat-mdc-chip.cdk-focused .mat-mdc-chip-focus-overlay {
  opacity: 0.01 !important;
}

.mat-mdc-fab.mat-accent {
  span.mat-mdc-button-touch-target,
  &:not(.mdc-fab--extended),
  &.mat-mdc-extended-fab,
  .mat-icon {
    --mdc-fab-icon-color: #ffffff;
    --mat-mdc-fab-color: #ffffff;
  }
}

.mdc-checkbox {
  --mdc-checkbox-selected-checkmark-color: #ffffff;
}

.mat-mdc-checkbox:has(.mdc-checkbox__native-control:focus):not(:hover) {
  .mdc-checkbox__ripple {
    display: none;
  }
}

.mdc-button {
  .mat-icon {
    margin-right: 0px !important;
  }
}

.mat-mdc-radio-button {
  .mdc-form-field > label {
    padding-left: 0px !important;
  }
}

app-input-password,
app-autocompletar,
app-calendar-common {
  &.ng-invalid {
    .mat-mdc-form-field:not(.mdc-text-field--disabled):has(input.ng-touched) {
      mat-label {
        color: map-get($warn, 500);
        display: inline-flex;
        flex-direction: row-reverse;
        &::after {
          content: '*';
        }
      }
      .mdc-notched-outline {
        &__leading,
        &__notch,
        &__trailing {
          border-color: map-get($warn, 500);
        }
      }
      .mat-mdc-input-element {
        caret-color: map-get($warn, 500);
      }
      .mdc-line-ripple {
        &::before,
        &::after {
          border-color: map-get($warn, 500);
        }
      }
      --mdc-outlined-text-field-hover-outline-color: #{map-get($warn, 900)};
    }
  }
}

[class*='mat-mdc-form-field'] {
  .mdc-floating-label--required:not(
      .mdc-floating-label--hide-required-marker
    )::after {
    color: map-get($warn, 500) !important;
    margin-right: 0.2px;
  }
  .mdc-floating-label {
    display: flex !important;
    flex-direction: row-reverse !important;
    width: max-content !important;
  }
}

[class*='mat-mdc-form-field-subscript-wrapper'] {
  &:not(:has(:only-child mat-hint, mat-error)) {
    display: none;
  }
}
[class*='mat-mdc-form-field-hint-wrapper'],
[class*='mat-mdc-form-field-error-wrapper'] {
  &:has(mat-hint, mat-error) {
    padding: 0;
  }
}

[class*='mat-form-field-appearance-outline'] {
  &.mat-form-field-invalid.mat-focused {
    .mdc-notched-outline {
      &__leading,
      &__trailing,
      &__notch {
        border-color: var(--mdc-theme-error, map-get($warn, 500)) !important;
      }
    }
  }
}

.mat-mdc-card {
  box-shadow: rgb(50 50 105 / 15%) 0px 2px 5px 0px,
    rgb(0 0 0 / 5%) 0px 1px 1px 0px !important;
}

.mdc-dialog__title {
  border-bottom: 1px solid rgba(27, 52, 76, 0.23);
  &::before {
    display: none !important;
  }
}

mat-accordion .mat-expansion-panel {
  --mat-expansion-container-shape: 0px;
  &-header,
  &-body {
    padding: 8px 16px;
  }
}

.mat-mdc-card-content,
.mdc-list-item {
  padding: 16px;
}

.mat-mdc-list {
  padding: 0 !important;
}

.mat-mdc-standard-chip {
  .mdc-evolution-chip__text-label {
    display: flex;
    align-items: center;
  }
}

.mat-stepper-horizontal,
.mat-stepper-vertical {
  background-color: transparent;
}

.mdc-button {
  gap: 8px;
  mat-icon {
    margin: 0;
  }
}

.mat-mdc-outlined-button {
  --mdc-outlined-button-outline-color: var(
    --mat-mdc-button-persistent-ripple-color
  ) !important;
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: rgba(16, 24, 64, 0.87) !important;
  opacity: 0.6;
}

a {
  text-decoration: auto;
  &:hover {
    text-decoration: underline;
  }
}

.mat-mdc-chip.stroked.mdc-evolution-chip.mat-mdc-chip-highlighted.mat-mdc-standard-chip {
  --mdc-chip-elevated-container-color: transparent;
  --mdc-chip-label-text-color: var(
    --mdc-chip-elevated-disabled-container-color
  );
  border: 1px solid var(--mdc-chip-elevated-disabled-container-color);
  &.mat-secondary {
    --mdc-chip-label-text-color: #{$color-secondary-chip-text};
    --mat-icon-color: #{$color-secondary-chip};
    border: 1px solid #{$color-secondary-chip};
  }
}

.mat-mdc-chip-option.mat-mdc-standard-chip.mdc-evolution-chip--with-primary-graphic {
  .mdc-evolution-chip__graphic {
    width: 0;
  }
  .mdc-evolution-chip__checkmark {
    display: none;
  }
  &.mdc-evolution-chip--disabled.stroked.mat-secondary {
    --mdc-chip-elevated-container-color: transparent;
    --mdc-chip-disabled-label-text-color: #{$color-secondary-chip-text};
    --mat-icon-color: #{$color-secondary-chip};
    border: 1px solid #{$color-secondary-chip};
  }
}

.chip-normal {
  @import './mixins.scss';
  @include chip();
}
