@use 'sass:map';
@use '@angular/material' as mat;
@use '@material/button';
@use '@material/icon-button/icon-button-theme' as icon-button;
@use 'node_modules/@material/textfield' as function;
@import './tokens.scss';
@import './variables';
@import './mixins';
@include mat.core();

//////////// SMALL CONFIGURATION

:not(.medium, .large) {

  &.mat-mdc-menu-item.mdc-list-item,
  &.mat-mdc-option {
    min-height: 2.8rem;
  }

  &.mat-mdc-chip,
  &.mat-md-chip-option {
    border-radius: 4px !important;
    height: 22px !important;

    &.mat-mdc-standard-chip .mdc-evolution-chip__checkmark {
      @include width-height(1.4rem);
    }

    .mat-mdc-chip-remove .mat-icon,
    .mat-mdc-chip-action-label .mat-icon {
      @include icon-size(1.4rem !important, 1.4rem !important);
    }
  }
}

//TOOLBAR
.mat-toolbar-single-row {
  height: 48px !important;
}

//BUTTON TOGGLE
.mat-button-toggle-group {
  --mat-standard-button-toggle-height: 40px;
}

// EXPANSION PANEL
.mat-expansion-panel {
  .mat-expansion-panel-header {
    height: fit-content !important;
    min-height: 4.4rem;
  }

  .material-icons {
    @include width-height(1.6rem);
  }
}

// Común para SUFFIX y PREFIX

.mat-mdc-form-field-icon-suffix>.mat-icon,
.mat-mdc-form-field-icon-prefix>.mat-icon {
  @include padding(24px, 16px);
  @include icon-size(16px, 16px);
}

// TAB
.mat-mdc-tab-header {
  .mat-mdc-tab.mdc-tab {
    height: 4rem;
  }
}

// SLIDER
.mdc-slider {
  --mdc-slider-inactive-track-height: 0.2rem;
  --mdc-slider-handle-width: 1.2rem;
  --mdc-slider-handle-height: 1.2rem;

  &.mat-mdc-slider .mdc-slider__track--active {
    --mdc-slider-active-track-height: 0.4rem;
  }

  .mat-mdc-slider-visual-thumb .mat-ripple {
    @include width-height(32px !important);
    border-radius: 50%;
    transform: translate(8px, 8.5px) !important;
  }
}

// DATA TABLE
.mat-mdc-table {
  &.mat-mdc-table .mdc-data-table__header-row {
    height: 32px;
  }

  &.mat-mdc-table .mdc-data-table__row {
    height: 52px;
  }
}

// RADIO BUTTON
:not(.medium).mat-mdc-radio-button .mdc-form-field .mdc-radio {
  --mdc-radio-state-layer-size: 22px;

  .mdc-radio__background {
    @include icon-size(14px, 12px);

    .mdc-radio__outer-circle {
      margin: 3px;
    }
  }

  .mdc-radio__native-control:checked+.mdc-radio__background .mdc-radio__inner-circle {
    transform: scale(0.3);
  }

  .mat-mdc-radio-touch-target,
  .mat-mdc-radio-group {
    @include width-height(22px);
  }
}

//STEPPER
.mat-step-header {
  &.mat-horizontal-stepper-header {
    height: 42px;
  }
}

.mat-step-icon .mat-icon {
  @include icon-size(16px !important, 16px !important);
}

///////////////////////////////////// MEDIUM CONFIGURATION //////////////////////////////////////////////
.medium {

  // TOOLBAR
  .mat-toolbar-single-row {
    height: 48px !important;
  }

  // RADIO BUTTON
  &:not(.small, .large).mat-mdc-radio-button .mdc-form-field .mdc-radio {
    --mdc-radio-state-layer-size: 28px;

    .mdc-radio__background {
      @include icon-size(20px, 16px);

      .mdc-radio__outer-circle {
        margin: 0px;
      }
    }

    .mdc-radio__native-control:checked+.mdc-radio__background .mdc-radio__inner-circle {
      transform: scale(0.4);
    }

    .mat-mdc-radio-touch-target,
    .mat-mdc-radio-group {
      @include width-height(28px);
    }
  }

  &.mat-mdc-chip,
  &.mat-md-chip-option {
    border-radius: 4px !important;
    height: 30px !important;

    &.mat-mdc-standard-chip .mdc-evolution-chip__checkmark {
      @include width-height(1.4rem I !important);
    }

    &.mat-mdc-standard-chip .mdc-evolution-chip__icon--trailing {
      @include width-height(2.4rem !important);
    }

    .mat-mdc-chip-remove .mat-icon,
    .mat-mdc-chip-action-label .mat-icon {
      @include icon-size(2rem !important, 1.8rem !important);
    }
  }

  // FORM FIELD
  &.mat-mdc-form-field {
    &:not(.mat-form-field-appearance-fill) {
      --mat-form-field-container-height: 48px !important;
      $positionY: function.get-outlined-label-position-y($formfield-outlined-medium-size);

      .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mdc-notched-outline--upgraded .mdc-floating-label--float-above {
        transform: #{translateY(-#{$positionY}) scale(var(--mat-mdc-form-field-floating-label-scale, 0.75))
      }

      !important;
    }

    .mat-mdc-text-field-wrapper {
      height: $formfield-outlined-medium-size;
    }

    .mat-mdc-form-field-infix {
      display: flex;
      height: $formfield-outlined-medium-size
    }
  }

  &:not(.mat-form-field-appearance-outline) {
    @include mat.form-field-density(-2);
    --mat-form-field-filled-with-label-container-padding-top: 20px;

    :not(:has(mat-select, .standard)) {

      &.mdc-text-field .mdc-floating-label {
        transform: translateY(-20%);
      }

      &.mdc-text-field--filled .mdc-floating-label--float-above {
        transform: translateY(-126%) scale(0.75);
      }

      &.mat-mdc-form-field-icon-suffix>.mat-icon {
        padding: 10px 12px 0;
      }
    }
  }

  &.standard:not(.mat-form-field-appearance-outline) {
    @include mat.form-field-density(-4.5);
  }
}

//BUTTON TOGGLE
&.mat-button-toggle-group {
  --mat-standard-button-toggle-height: 48px;
}

// TAB
.mat-mdc-tab.mdc-tab {
  height: 2.857142857142857rem;
}

// SLIDER
&.mdc-slider {
  --mdc-slider-inactive-track-height: 0.4rem !important;
  --mdc-slider-handle-width: 2rem !important;
  --mdc-slider-handle-height: 2rem !important;

  &.mat-mdc-slider .mdc-slider__track--active {
    --mdc-slider-active-track-height: 0.6rem !important;
  }

  .mat-mdc-slider-visual-thumb .mat-ripple {
    @include width-height(42px !important);
    border-radius: 50% !important;
    transform: translate(3px, 3px) !important;
  }
}

// DATA TABLE
&.mat-mdc-table {
  &.mat-mdc-table .mdc-data-table__header-row {
    height: 48px;
  }

  &.mat-mdc-table .mdc-data-table__row {
    height: 52px;
  }
}
}

//////////////// LARGE ////////////////
.large {

  // RADIO BUTTON
  &:not(.small, .medium).mat-mdc-radio-button .mdc-form-field .mdc-radio {
    --mdc-radio-state-layer-size: 42px;

    .mdc-radio__background {
      @include icon-size(24px, 20px);

      .mdc-radio__inner-circle {
        border-width: 12px;
        margin: -2px;
      }

      .mdc-radio__outer-circle {
        margin: -2px;
      }
    }

    .mdc-radio__native-control:checked+.mdc-radio__background .mdc-radio__inner-circle {
      transform: scale(0.5);
    }

    .mat-mdc-radio-touch-target,
    .mat-mdc-radio-group {
      @include width-height(42px);
    }
  }

  //CHIP
  &.mat-mdc-chip .mat-icon {
    @include icon-size(1.714285714285714rem, 1.714285714285714rem);
  }

  // BUTTON TOGGLE
  &.mat-button-toggle-group {
    .mat-button-toggle {
      &-label-content {
        line-height: calc(24px + 26px);
      }

      .mat-icon {
        @include icon-size(2.4rem !important, 2.2rem !important);
      }
    }
  }

  .mat-button-toggle>.mat-icon {
    @include icon-size(1.285714285714286rem, 1.285714285714286rem);
  }

}

.cdk-overlay-pane {
  &:has([role='listbox'].mat-option-medium, [role='menu'].menu-item-medium) {

    .mat-mdc-option,
    .mat-mdc-menu-item {
      min-height: 4.4rem;
    }
  }
}

.mat-mdc-form-field.mat-form-field-appearance-outline:not( :has(.mat-mdc-form-field-textarea-control, .medium, .large)) {
  $positionY: function.get-outlined-label-position-y($formfield-outlined-default-size );

  label {
    top: 50%;
  }

  .mdc-floating-label--float-above {
    --mat-mdc-form-field-label-transform: #{translateY(-#{$positionY}) scale(var(--mat-mdc-form-field-floating-label-scale, 0.75))
  }

  !important;
}

.mat-mdc-form-field-infix {
  display: inline-flex;
  align-items: center;
  padding-bottom: 0px;
  padding-top: 0px;
}

.mat-mdc-form-field-infix {
  min-height: #{$formfield-outlined-default-size};
}

.mat-icon:not([matdatepickertoggleicon]) {
  padding: calc($formfield-outlined-default-size / 4);
}
}

@include size-rating($rating-small, 'medium', $rating-medium, $rating-large);
@include icon-button-sizes($icon-button-erp-sizes);
@include mat-button-base-sizes($button-base-sizes);
@include mat-fab-button-sizes($mat-fab-button-sizes);
@include mat-checkbox-sizes($checkbox-sizes);
@include pseudo-checkbox-sizes($checkbox-sizes);
@include mat-slide-toggle-sizes($slide-toggle-sizes);
@include date-picker-toggle-sizes($icon-button-erp-sizes, 'default', 'small');
@include table-sizes($table-sizes);