// MEDIA QUERY
//BREAKPOINTS
$breakpoint-mobile: 400px;
$breakpoint-tablet: 525px;
$breakpoint-laptop: 850px;
$breakpoint-laptop-frame: 1024px;
$breakpoint-desktop: 1440px;
//MAT-RATING
$rating-small: 18px !default;
$rating-medium: 24px !default;
$rating-large: 30px !default;
//FORMFIELD-OUTLINER-DEFAULT-SIZE
$formfield-outlined-default-size:32px;
$formfield-outlined-medium-size:48px;

$color-secondary-chip: #00000042;
$color-secondary-chip-text: #08152499;
