<app-header-components title="Radio">
    <ng-template #component>
        <div class="column gap-3">
            <div class="column align-items-center justify-content-start ">
                <p class="full-width mat-caption color-text-secondary pb-3"> mat-radio-button | Checked | Size: Large |
                    Medium |
                    Small
                </p>
                <div class="full-width row align-items-center justify-content-between">
                    <mat-radio-button *ngFor="let radio of radios" [value]="radio.value" checked [class]="radio.size"
                        [colorComponent]="radio.color" [color]="radio.color" [disabled]="radio.disabled">
                    </mat-radio-button>
                </div>
            </div>

            <div class="column align-items-center justify-content-start ">
                <p class="full-width mat-caption color-text-secondary pb-3"> Radio W. Form group | Checked | Size: Large
                    |
                    Medium | Small
                </p>
                <div class="full-width row align-items-center justify-content-around">
                    <div class="column align-items-center justify-content-start">
                        <form class="column justify-content-center">
                            <mat-label>Group label</mat-label>
                            <mat-radio-group color="primary" class="column" [value]="defaultRadioChecked">
                                <mat-radio-button class="medium" *ngFor="let radio of radioGroup"
                                    [checked]="radio.checked" value="1" [disabled]="radio.disabled">
                                    {{radio.label}}
                                </mat-radio-button>
                            </mat-radio-group>
                            <mat-hint>Information label</mat-hint>
                        </form>
                    </div>
                    <div class="column align-items-center justify-content-start">
                        <form class="column justify-content-start">
                            <mat-label class="mat-body1">Group error</mat-label>
                            <mat-radio-group colorComponent="warning" class="column" [value]="defaultRadioChecked">
                                <mat-radio-button class="medium" *ngFor="let radio of radioGroup"
                                    [checked]="radio.checked" value="1" [disabled]="radio.disabled">
                                    {{radio.label}}
                                </mat-radio-button>
                            </mat-radio-group>
                            <mat-error>*Error display hint</mat-error>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </ng-template>
</app-header-components>