$pallete-primary-color: #1e62a1;
$with-content: 873px;

.model-component {
    width: 100%;
    height: 100%;
    background-color: #FBFBFB;
    padding: 36px 106px;

    &__header {
        width: inherit;
    }
}

.title-components {
    width: inherit;
    height: auto;
    padding-top: 56px;

    &__header {
        width: $with-content;
        border-radius: 4px;
        background-color: #F5f5f6;
    }

    &__content {
        width: $with-content;
    }

    &__logos-container {
        width: inherit;
    }

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 36px;
    }

    .button-enlace {
        color: #1e62a1 !important;
    }
}

