<app-header-components title="SwitchFormControl">
    <ng-template #component>
        <div class="column gap-3">
            <div class="column align-items-center justify-content-start ">
                <p class="full-width mat-caption color-text-secondary pb-3">mat-slide-toggle - label | Size: Large |
                    Medium |
                    Small</p>
                <div class="full-width row align-items-center justify-content-between">

                    <ng-container *ngFor="let switch of switchColor">
                        <mat-slide-toggle [color]="switch.color" checked="true">{{ switch.label
                            }}</mat-slide-toggle>
                    </ng-container>
                </div>
            </div>
        </div>
    </ng-template>
</app-header-components>